.search-results {
	.content {
		padding: 110px 0 90px 0;
	}

	.results-container {
		margin-top: 40px;
		width: 100%;

		.result {
			width: 100%;
			padding: 30px 0;
			border-bottom: 1px solid #C9D8F5;

			&:first-of-type {
				border-top: 1px solid #C9D8F5;
			}
		}

		h4 {
			position: relative;
			color: #042E71;
			font-family: $font-heading;
			font-size: 24px;
			margin-bottom: 25px;
			padding-bottom: 15px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 3px;
				width: 35px;
				background: $secondary;
			}
		}

		p  {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 25px;

			&:last-of-type {
				margin: 0;
			}
		}

		a {
			font-weight: 700;
			text-decoration: underline;
			color: $secondary;
			transition: .5s all;

			&:hover {
				color: $primary;
			}
		}

		.btn {
			min-height: 40px;
		}
	}

	.pagination {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		width: 100%;

		ul {
			display: flex;

			li {
				margin-right: 10px;

				a {
					text-decoration: none;
				}

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}
