footer {
	color: #FFF;
	background: $primary;
	padding: 40px 0 70px 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;

	.footer-logo {
		display: block;
		margin-bottom: 25px;
	}

	iframe {
		display: none;
	}

	.right-col {
		width: 100%;
	}

	.top-row {
		display: flex;
		flex-direction: column;
	}

	address{
		padding-bottom: 11px;
		border-bottom: 1px solid rgba(201, 216, 245, 0.2);
		margin-bottom: 11px;
	}

	.contact-details {
		order: 2;
		margin-bottom: 52px;
	}

	.menu-footer-menu-container {
		order: 2;
		width: 100%;
		margin-bottom: 40px;

		li {
			width: 100%;
			padding: 5px 0;
			border-bottom: 1px solid rgba(201, 216, 245, 0.2);
		}
	}

	.social-container {
		order: 1;
		display: flex;
		align-items: flex-start;
		margin-bottom: 25px;

		a {
			display: block;
			margin-right: 30px;
			transition: .5s all;

			&:hover {
				opacity: 0.7;
			}

			&:last-of-type {
				margin: 0;
			}
		}

		img {
			display: block;
			width: 36px;
			height: auto;
		}
	}

	.accreditiations {
		max-width: 100%;
		height: auto;
		margin-left: auto;
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	footer {
		padding: 35px 0;

		.footer-logo {
			display: block;
			margin-bottom: 25px;
		}

		.top-row {
			flex-direction: row;
		}

		.contact-details {
			order: 0;
			margin: 0 35px 0 0;
			width: 260px;
			flex-shrink: 0;
		}

		.menu-footer-menu-container {
			margin: 0 auto 0 0;
			order: 0;

			li {
				width: 185px;
				padding: 2px 0;
				border-bottom: 1px solid #C9D8F5;
			}
		}

		.social-container {
			order: 0;
			margin: 0 0 0 25px;
		}

		.accreditiations {
			margin: 15px 0 0 auto;
		}
	}
}


@media only screen and (min-width: 1125px) {
	footer {
		.columns {
			display: flex;
		}

		iframe {
			display: block;
			width: 290px;
			height: 200px;
			margin-right: 20px;
		}

		.contact-details {
			margin-right: 75px;
		}

		.accreditiations {
			margin: 0 0 0 auto;
		}
	}
}
