header {
	position: fixed;
	top: 0;
	left: 0;
	background: $primary;
	color: #FFF;
	width: 100%;
	z-index: 10;

	ul {
		li {
			&.current-menu-item {
				color: $secondary;
			}
		}
	}

	.top-row {
		position: fixed;
		background: #19335D;
		top: 100vh;
		left: 0;
		z-index: 10;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 17px;
		font-size: 14px;
		letter-spacing: -0.2px;
		font-weight: 300;
		text-align: right;
		transition: all .5s ease-in;
		overflow: auto;
		padding-bottom: 15px;

		#searchform {
			display: none;
		}

		&.active {
			top: 0;
			transition: all .5s ease-out;
		}
	}

	.mobile-quick-links-close {
		display: flex;
		align-items: flex-end;
		background: $secondary;
		height: 55px;
		width: 100%;
		border-radius: 0 0 5px 0;

		img {
			margin-top: 0;
			display: block;
			width: 50px;
			height: auto;
			margin-left: auto;
		}
	}

	.menu-secondary-menu-container {
		width: 100%;
		margin-top: 5px;
		padding: 0 30px;
	}

	#menu-secondary-menu {
		margin-bottom: 35px;

		li {
			padding: 20px 0;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}
	}

	.additional-links {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 30px;
		max-width: 400px;
		margin: 0 auto;
		color: #FFF;
		font-size: 7px;
		font-weight: 400;
		line-height: 7px;
		text-transform: uppercase;

		li {
			a {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
			}

			img {
				display: block;
				width: 35px;
				margin-bottom: 8px;
				height: auto;
			}

			&:hover {
				opacity: 0.7;
				color: #FFF;

				a {
					color: #FFF;
				}
			}

			&:nth-of-type(5) {
				img {
					height: 30px;
				}
			}
		}
	}

	.lower-row {
		position: relative;
		padding: 15px 0;
		display: flex;
		align-items: center;

		&:after {
			content: '';
			height: 9px;
			width: 100%;
			bottom: -9px;
			background: #FFF;
			position: absolute;
		}
	}

	.logo {
		position: relative;
		display: block;
		margin-right: auto;
		z-index: 4;

		img {
			display: block;
			width: 100%;
			max-width: 170px;
			height: auto;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: $primary;
		top: 0;
		right: -100vw;
		z-index: 5;
		padding: 65px 35px 30px 35px;
		transition: all .5s ease-in;
		overflow: auto;

		.logo {
			margin: 0 0 25px auto;
		}

		&.active {
			transition: all .5s ease-out;
			right: 0;
		}
	}

	.menu-main-menu-container {
		font-size: 18px;
		line-height: 21px;
		font-family: $font-heading;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 21px;
		text-align: right;
		width: 100%;

		li {
			padding: 15px 0;
			border-bottom: 1px solid rgba(255,255,255,0.2);

			&:first-of-type {
				border-top: 1px solid rgba(255,255,255,0.2);
			}
		}
	}

	#searchform {
		position: relative;
		width: 100%;

		input {
			font-family: $font-default;
			border: 1px solid #FFF;
			border-radius: 2px;
			-webkit-appearance: none;
			background: none;
			height: 40px;
			width: 100%;
			padding-left: 15px;
			color: #FFF;
			font-size: 16px;
			outline: none;
			transition: .5s all;

			&:focus {
				border-color: $secondary;
			}

			&::-webkit-search-cancel-button {
			  display: none;
			}
		}
		::-webkit-input-placeholder {
		   color: rgba(255,255,255,0.6);
		}

		button {
			cursor: pointer;
			top: 9px;
			right: 10px;
			height: 21.59px;
			width: 20.85px;
			background: url('../library/images/search-icon.svg') center / contain no-repeat;
			position: absolute;
			border: 0;
		}
	}

	.menu-toggle {
		display: flex;
		align-items: center;
		width: 30px;
		height: 30px;
		position:relative;
		cursor:pointer;
		z-index: 6;
		background: $primary;

		* {
			transition:.25s ease-in-out;
		}

		span {
			background: $secondary;
			display: block;
		}

		.hamburger {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position:absolute;
			height:100%;
			width:100%;
			top: 0px;
			left: 0;

			span {
				width:100%;
				height: 2px;
				position:relative;

				&:first-of-type {
					margin: 0 0 5px;
				}
				&:last-of-type {
					margin: 5px 0 0;
				}
				&:nth-child(1){
					transition-delay:.5s;
				}
				&:nth-child(2){
					transition-delay:.625s;
				}
				&:nth-child(3){
					transition-delay:.75s;
				}
			}
		}
		.cross {
			position:relative;
			height:100%;
			width:100%;
			transform:rotate(45deg);

			span{
				background: #FFF;

				&:nth-child(1){
					height:0%;
					width: 2px;
					position:absolute;
					top: 0;
					left: 13px;
					transition-delay:0s;
				}
				&:nth-child(2){
					width:0%;
					height:2px;
					position:absolute;
					left: 0;
					top:13.5px;
					transition-delay:.25s;
				}
			}
		}
		&.active {
			.hamburger {
				span {
					width:0%;
					&:nth-child(1){
						transition-delay:0s;
					}
					&:nth-child(2){
						transition-delay:.125s;
					}
					&:nth-child(3){
						transition-delay:.25s;
					}
					&:not(:first-of-type) {
						width: 0%;
					}
				}
			}
			.cross {
				span {
				&:nth-child(1){
						height: 100%;
						transition-delay:.625s;
					}
				}
				span {
					&:nth-child(2){
						width: 100%;
						transition-delay:.375s;
					}
				}
			}
		}
	}
}

.mobile-quick-links-trigger {
	position: fixed;
	bottom: 0;
	right: 0;
	border-bottom: 2px solid $secondary;
	z-index: 5;

	img {
		width: 65px;
		height: auto;
		display: block;
		margin-left: auto;
	}
}

@media only screen and (min-width: 600px) {
	header {
		.top-row {
			max-width: 400px;
		}

		.lower-row {
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: $primary;
				z-index: 5;
			}
		}

		.logo {
			z-index: 6;
		}

		nav {
			max-width: 400px;

			.logo {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	header {
		.top-row {
			line-height: 19px;
			font-size: 16px;
		}

		#menu-secondary-menu {
			li {
				padding: 25px 0;
			}
		}

		.menu-main-menu-container {
			li {
				padding: 20px 0;
			}
		}

		#searchform {
			position: relative;
			width: 100%;

			input {
				height: 50px;
				font-size: 16px;
			}


			button {
				top: 12px;
				right: 10px;
				height: 25px;
				width: 25px;
			}
		}
	}

	.mobile-quick-links-trigger {
		img {
			width: 75px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	header {
		position: relative;

		.lower-row {
			position: relative;
			padding: 20px 0;
			display: flex;
			align-items: center;

			&:after {
				content: '';
				height: 8px;
				width: 100%;
				bottom: -4px;
				left: 0;
				background: #FFF;
				position: absolute;
			}
		}

		nav {
			flex-direction: row;
			position: static;
			top: auto;
			right: auto;
			max-width: none;
			padding: 0;
			width: auto;
			height: auto;
			background: none;

			.logo {
				display: none;
			}

			#searchform {
				display: none;
			}
		}

		.menu-main-menu-container {
			padding-bottom: 6px;
			margin: auto 0 0 0;
			width: auto;
			text-align: left;

			ul {
				display: flex;
			}

			li {
				padding: 0;
				border: none;
				margin: 0 35px 0 0;

				&:first-of-type {
					border: 0;
				}

				&:last-of-type {
					margin: 0;
				}
			}
		}

		.menu-toggle {
			display: none;
		}
	}
}

@media only screen and (min-width: 1250px) {
	header {
		ul {
			display: flex;
			align-items: center;

			li {
				flex-shrink: 0;
				transition: .5s all;

				&:hover {
					color: $secondary;
				}

				&:last-of-type {
					margin: 0;
				}
			}
		}

		.top-row {
			position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			background: none;
			height: auto;
			width: auto;
			flex-direction: row;
			align-items: center;
			line-height: 15px;
			font-size: 12px;
			letter-spacing: -0.2px;
			font-weight: 300;
			padding: 20px 0;
			border-bottom: 0.5px solid rgba(255,255,255,0.35);
			max-width: none;

			#searchform {
				width: auto;
				display: block;
			}
		}

		.logo {
			img {
				max-width: 305px;
			}
		}

		.mobile-quick-links-close {
			display: none;
		}

		.menu-secondary-menu-container {
			width: auto;
			margin: 0;
			padding: 0;

			#menu-secondary-menu {
				margin: 0;

				li {
					border: 0;
					padding: 0;
					margin-right: 30px;
				}
			}
		}

		#searchform {
			margin-right: 25px;

			input {
				font-size: 10px;
				height: 30px;
				width: 190px;
			}

			button {
				top: 9px;
				right: 10px;
				height: 12px;
				width: 12px;
			}
		}

		.additional-links {
			padding: 0;
			width: auto;
			align-items: stretch;

			li {
				margin-right: 23px;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		nav {
			margin-top: auto;
		}
	}

	.mobile-quick-links-trigger {
		display: none;
	}
}
