.menu-toggle {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	position:relative;
	cursor:pointer;
	background: $primary;

	* {
		transition:.25s ease-in-out;
	}

	span {
		background: #FFF;
		display: block;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position:absolute;
		height:100%;
		width:100%;
		top: 0px;
		left: 0;

		span {
		  width:100%;
		  height: 2px;
		  position:relative;

		  &:first-of-type {
			margin: 0 0 5px;
		  }
		  &:last-of-type {
			margin: 5px 0 0;
		  }
		  &:nth-child(1){
			transition-delay:.5s;
		  }
		  &:nth-child(2){
			transition-delay:.625s;
		  }
		  &:nth-child(3){
			transition-delay:.75s;
			width: 60%;
		  }
		}
	}
  .cross {
	position:relative;
	height:100%;
	width:100%;
	transform:rotate(45deg);
	span{
	  &:nth-child(1){
		height:0%;
		width: 2px;
		position:absolute;
		top: 0;
		left: 13px;
		transition-delay:0s;
	  }
	  &:nth-child(2){
		width:0%;
		height:2px;
		position:absolute;
		left: 0;
		top:13.5px;
		transition-delay:.25s;
	  }
	}
  }
  &.active {
	  .hamburger {
		span {
		  width:0%;
		  &:nth-child(1){
			transition-delay:0s;
		  }
		  &:nth-child(2){
			transition-delay:.125s;
		  }
		  &:nth-child(3){
			transition-delay:.25s;
		  }
		  &:not(:first-of-type) {
			width: 0%;
		  }
		}
	  }
	  .cross {
		span {
		  &:nth-child(1){
			height: 100%;
			transition-delay:.625s;
		  }
		}
		span {
		  &:nth-child(2){
			width: 100%;
			transition-delay:.375s;
		  }
		}
	  }
  }
}

@media only screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
}
