a.btn, .btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	min-height: 60px;
	background: #FE5F55;
	color: #FFF;
	border-radius: 4px;
	transition: .5s all;
	font-family: $font-heading;
	font-size: 19px;
	line-height: 24px;
	justify-content: center;
	padding: 10px 20px;
	text-align: center;

	&:hover {
		background: $primary;
	}

	&.small {
		font-size: 19px;
	}

	&.gold {
		background: #BF893D;

		&:hover {
			background: $secondary;
		}
	}

	&.blue {
		background: $primary;

		&:hover {
			background: $secondary;
		}
	}

	&.secondary {
		background: $secondary;

		&:hover {
			background: $primary;
		}
	}
}
