* {
	outline: 0;
}

body {
	padding-top: 66.609px;

	&.noscroll {
		overflow: hidden;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		padding-top: 0;

		&.noscroll {
			overflow: auto;
		}
	}
}

.wrap {
	max-width: 1280px;
	width: 100%;
	padding: 0 35px;
	margin: 0 auto;
}

a.covid-link {
	height: 48px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	border-radius: 0;
	font-size: 14px;
	padding-right: 65px;
	min-height: auto;
}

@media only screen and (min-width: 768px) {
	a.covid-link {
		height: 55px;
		font-size: 19px;
	}
}

@media only screen and (min-width: 1025px) {
	a.covid-link {
		height: auto;
		font-size: 19px;
		min-height: 60px;
	}
}

/* Blog image styling
================================================ */
	img.alignright,img.alignleft,img.aligncenter, img.alignnone {
		display: block;
		max-width: 100%;
		height: auto;
	}


	img.alignright {margin: 1em 0;}
	img.alignleft {margin:1em 0;}
	img.alignnone {margin: 1em 0;}
	img.aligncenter {display: block; margin: 1em}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


	 @media only screen and (min-width: 768px) {
		img.alignright {float:right; margin:0 0 1em 1em}
		img.alignleft {float:left; margin:0 1em 1em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		a img.alignright {float:right; margin:0 0 1em 1em}
		a img.alignleft {float:left; margin:0 1em 1em 0}
		a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

		 .section {
		 	padding: 65px 0;
		 }
	 }
