/* Font stacks
================================================ */
	$sans-serif: 'lato', sans-serif;
	$serif: 'mislab-std', serif;
	$font-default: $sans-serif;
	$font-heading: $serif;

/* Base Typography
================================================ */
	body {
		font-family: $font-default;
		font-size: 18px;
		line-height: 28px;
		color: #434C5C;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant-ligatures: none;
	}

	p {
		margin-bottom: 28px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	h3 {
		font-family: $font-heading;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: -0.1px;
	}

	strong {
		font-weight: bold;
	}


/* Links
================================================ */
	a, a:visited {
		color: inherit;
		text-decoration: none;
	}

/* Font Face Imports
================================================ */

  /*  @font-face {
		font-family: 'Font Name';
		src: url('assets/fonts/font-name.eot');
		src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			   url('assets/fonts/font-name.woff') format('woff'),
			   url('assets/fonts/font-name.ttf') format('truetype'),
			   url('assets/fonts/font-name.svg#font-name') format('svg');
		font-weight: normal;
		font-style: normal;
	}
  */
