.content {
	h1 {
		font-size: 26px;
		line-height: 30px;
		font-family: $font-heading;
		color: #042E71;
		margin-bottom: 30px;

		br {
			display: none;
		}

		&:after {
			display: block;
			content: '';
			width: 26px;
			height: 3px;
			background: $secondary;
			border: none;
			margin-top: 15px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		h1 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 55px;

			br {
				display: block;
			}

			&:after {
				width: 40px;
				height: 3px;
				margin-top: 15px;
			}
		}
	}
}
