.content {
	.full-width-image {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		.full-width-image {
			margin-top: 30px;
			margin-bottom: 60px;
		}
	}
}
