.button-columns {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.content-btn {
	width: 100%;
}


@media only screen and (min-width: 768px) {
	.content-btn {
		margin-bottom: 15px;
		width: calc(33.3333% - 10px);
		margin-right: 15px;

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}
