.content-block {
	position: relative;

	&.border-top {
		.in-page-nav {
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				background: $secondary;
				content: '';
			}
		}
	}

	.in-page-nav {
		position: relative;
		padding: 15px 0 0 0;
		width: 100%;

		ul {
			top: 0px;
			margin-bottom: 30px;
			border-bottom: 1px solid $secondary;

			.sub-menu-chevron {
				position: absolute;
				right: -25px;
				top: 4px;
				display: block;
				height: 25px;
				width: 12px;
				background: url('../library/images/menu-chevron.svg') center / contain no-repeat;
				transition: .5s all;

				&.active {
					transform: rotate(-90deg);
				}
			}

			li {
				position: relative;
				line-height: 34px;
				font-size: 16px;
				font-family: $font-heading;
				color: #8C9BB9;
				font-weight: 300;
				transition: .5s all;
				border-bottom: 1px solid rgba(92, 199, 142, 0.2);
				text-align: right;

				&:last-of-type {
					border-bottom: 0;
				}

				.sub-menu {
					display: none;
					border: none;

					li {
						font-size: 14px;

						&.current_page_item {
							color: $secondary;
						}
					}
				}

				&.parent-page {
					font-weight: 500;
					color: $primary;
					display: block;
					border-bottom: 0;

					&:after {
						content: '';
						position: absolute;
						right: -20px;
						top: 0px;
						display: block;
						height: 16px;
						width: 9px;
						background: url('../library/images/menu-chevron.svg') center / contain no-repeat;
						transition: .5s all;
					}

					a {
						pointer-events: none;
					}

					&.active {
						&:after {
							transform: rotate(-90deg);
						}

						a {
							pointer-events: auto;
						}
					}
				}
			}
		}

		.mobile-page-title {
			font-size: 16px;
			font-family: $font-heading;
			color: $secondary;
			margin-bottom: 40px;
		}
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 20px;
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.content-block {
		.wrap {
			display: flex;
		}

		.in-page-nav {
			flex-shrink: 0;
			padding: 90px 0 75px 0;
			width: auto;
			padding-right: 40px;

			&:before {
				display: none!important;
			}

			ul {
				border-bottom: 0;
				position: sticky;
				top: 0px;

				li {
					text-align: left;
					font-family: $font-heading;
					color: #8C9BB9;
					font-weight: 300;
					transition: .5s all;

					a {
						transition: .5s all;

						&:hover {
							color: $secondary;
						}
					}

					.sub-menu {
						display: block;
					}

					&.parent-page {
						font-weight: bold;
						color: #042E71;

						a {
							pointer-events: auto;
						}

						&:after {
							display: none;
						}
					}
				}
			}
		}

		.mobile-page-title {
			display: none;
		}

		.content {
			position: relative;
			padding: 90px 0 115px 0;
		}

		&.border-top {
			.content {
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 10px;
					background: $secondary;
					content: '';
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.content-block {
		.in-page-nav {
			padding: 110px 0 95px 0;
			width: 300px;
			padding-right: 15px;

			ul {
				li {
					line-height: 48px;
					font-size: 22px;

					.sub-menu {
						li {
							font-size: 22px;
							line-height: 48px;
						}
					}
				}
			}
		}

		.content {
			padding-top: 110px;
		}
	}
}

