.page-id-114 {
	.content-contact-details {
		.content {
			padding-top: 40px;
		}
	}
}

.content-contact-details {
	padding-bottom: 40px;

	iframe {
		width: 100%;
		max-width: 600px;
		height: 300px;
		margin-bottom: 20px;
	}

	.contact-details {
		color: $primary;
		font-family: $font-heading;
		font-size: 18px;
		line-height: 22px;

		address {
			margin-bottom: 45px;
		}
	}
}

@media only screen and (min-width: 768px) {
		.page-id-114 {
			.content-contact-details {
				.content {
				padding-top: 90px;
			}
		}
	}

	.content-contact-details {
		display: flex;
		padding-bottom: 0;

		iframe {
			height: 330px;
			margin: 0 20px 0 0;
		}

		.contact-details {
			font-size: 20px;
			line-height: 30px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.page-id-114 {
		.content-contact-details {
			.content {
				padding-top: 110px;
			}
		}
	}

	.content-contact-details {
		iframe {
			width: 600px;
			height: 430px;
		}

		.contact-details {
			font-size: 32px;
			line-height: 40px;
		}
	}
}

