.content {
	h4 {
		&.introductory-paragraph {
			color: #042E71;
			font-family: $font-heading;
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 30px;

			br {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		h4 {
			&.introductory-paragraph {
				font-size: 32px;
				line-height: 40px;
				margin-bottom: 50px;

				br {
					display: block;
				}
			}
		}
	}
}
