.content-btn {
	margin-bottom: 30px;
	width: 100%;
}


@media only screen and (min-width: 768px) {
	.content-btn {
		width: auto;

		&.centre {
			margin: 0 auto 30px auto;
		}

		&.right {
			margin: 0 0 30px auto;
		}
	}
}
