.content {
	.author {
		display: flex;
		align-items: flex-end;
		margin-bottom: 95px;

		.author-picture {
			height: 105px;
			width: 105px;
			margin-right: 20px;
		}

		p {
			line-height: 19px;

			strong {
				display: block;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
