.content {
	.main-content-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		width: 100%;

		.main-content {
			h2 {
				font-size: 26px;
				line-height: 30px;
				font-family: $font-heading;
				color: #042E71;
				margin-bottom: 30px;

				br {
					display: none;
				}

				&:after {
					display: block;
					content: '';
					width: 26px;
					height: 3px;
					background: $secondary;
					border: none;
					margin-top: 15px;
				}
			}

			h4 {
				font-family: $font-heading;
				font-size: 24px;
				line-height: 30px;
				font-weight: 300;
				color: #042E71;
				margin-bottom: 30px;
			}

			p {
				font-size: 16px;
				line-height: 20px;

				&:last-of-type {
					margin-bottom: 20px;
				}
			}

			ul {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 28px;

				li {
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 1px solid #C9D8F5;

					&:last-of-type {
						border: none;
						margin: 0;
						padding: 0;
					}
				}
			}

			a {
				color: #041A3E;
				font-weight: 700;
				border-bottom: 1px solid #041A3E;
				transition: all .32s;

				&:hover {
					color: lighten(#041A3E, 15%);
				}
			}
		}

		.btn {
			margin-bottom: 40px;
		}

		&:last-child {
			margin: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.content {
		.main-content-container {
			.btn {
				margin: 0 auto 0 0;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		.main-content-container {
			margin-bottom: 50px;

			.main-content {
				column-gap: 25px;


				&.two-col {
					column-count: 2;
				}

				&.three-col {
					column-count: 3;
				}

				h2 {
					font-size: 36px;
					line-height: 40px;
					margin-bottom: 55px;

					br {
						display: block;
					}

					&:after {
						width: 40px;
						height: 3px;
						margin-top: 15px;
					}
				}

				h4 {
					font-family: $font-heading;
					font-size: 32px;
					line-height: 40px;
					color: #042E71;
					margin-bottom: 30px;
				}

				p {
					font-size: 18px;
					line-height: 28px;

					&:last-of-type {
						margin-bottom: 28px;
					}
				}

				ul {
					font-size: 18px;
					line-height: 28px;
				}
			}

			.btn {
				margin: 0px 0 0px auto;
			}
		}
	}
}
