.feature-title-content-image-grid {
	padding: 0px 35px 0 35px;
	background: #ECF1F8;

	.wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 60px 0 80px 0;
		max-width: 1210px;
		border-top: 10px solid $secondary;
	}

	h2 {
		font-family: $font-heading;
		font-size: 36px;
		line-height: 40px;
		color: #798DAD;
		margin-bottom: 40px;

		br {
			display: none;
		}
	}

	.content {
		font-size: 16px;
		line-height: 20px;
		column-gap: 45px;
		color: #434C5C;
	}

	.gallery {
		margin-top: 50px;

		.central-col {
			display: flex;
			flex-wrap: wrap;
			width: 100;
			margin-bottom: 15px;

			.image {
				height: 180px;
				margin-bottom: 0;

				&:first-of-type {
					width: 100%;
					margin-right: 0;
					margin-bottom: 15px;
				}

				&:nth-of-type(2) {
					width: calc(50% - 7.5px);
					margin-right: 15px;
				}

				&:nth-of-type(3) {
					height: 180px;
					width: calc(50% - 7.5px);
					margin-right: 0;
				}
			}
		}

		.image {
			display: block;
			height: 250px;
			width: 100%;
			overflow: hidden;
			margin-bottom: 15px;

			.inner-image {
				display: block;
				height: 100%;
				width: 100%;
				transition: .5s all;
			}

			&:last-of-type {
				height: 150px;
			}

			&:hover {
				.inner-image {
					transform: scale(1.05);
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-title-content-image-grid {

		.content {
			column-gap: 45px;
			color: #434C5C;

			&.two {
				column-count: 2;
			}

			&.three {
				column-count: 3;
			}
		}

		.gallery {
			display: flex;

			.central-col {
				width: 41.4%;
				margin-right: 15px;
				margin-bottom: 0;

				.image {
					height: 125px;

					&:first-of-type {
						margin-right: 0;
						height: 140px;
						margin-bottom: 15px;
					}

					&:nth-of-type(2) {
						width: calc(66.6666% - 7.5px);
					}

					&:nth-of-type(3) {
						height: 125px;
						width: calc(33.33333% - 7.5px);
						margin-right: 0;
						margin: 0;
					}
				}
			}

			.image {
				height: 280px;
				width: 41.4%;
				margin-right: 15px;
				margin-bottom: 0;

				&:last-of-type {
					height: 280px;
					width: 14.6%;
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-title-content-image-grid {
		h2 {
			font-size: 56px;
			line-height: 56px;
			margin-bottom: 50px;

			br {
				display: block;
			}
		}

		.content {
			font-size: 18px;
			line-height: 28px;
		}

		.gallery {
			.central-col {
				.image {
					height: 195px;

					&:first-of-type {
						height: 180px;
					}

					&:nth-of-type(3) {
						height: 195px;
					}
				}
			}

			.image {
				height: 390px;

				&:last-of-type {
					height: 390px;
					width: 14.6%;
					margin-right: 0;
				}
			}
		}
	}
}
