.feature-careers-accordion {
	background: #ECF1F8;
	padding: 0 35px 0 35px;

	.wrap {
		position: relative;
		border-top: 10px solid $secondary;
		max-width: 1210px;
		padding: 35px 0 35px 0;
	}

	.accordion-row {
		margin-top: 20px;
		position: relative;

		h3 {
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 19px;
			line-height: 29px;
			color: #042E71;
			padding-bottom: 14px;
			border-bottom: 1px solid #C9D8F5;

			&:after {
				margin-top: 5px;
				content: '';
				margin-left: auto;
				width: 15px;
				height: 10px;
				display: block;
				background: url('../library/images/mobile-down-chevron.svg') center / contain no-repeat;
				transition: .5s all;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.inner-accordion {
			display: none;
			padding: 40px 0;
		}

		.content {
			width: 100%;
		}

		h4 {
			font-size: 26px;
			line-height: 30px;
			font-family: $font-heading;
			color: #042E71;
			margin-bottom: 30px;

			&:after {
				display: block;
				content: '';
				width: 26px;
				height: 3px;
				background: $secondary;
				border: none;
				margin-top: 15px;
			}
		}

		p:first-of-type {
			font-size: 22px;
		}

		.btn-container {
			margin-top: 65px;

			.btn {
				font-size: 18px;
			}

			.btn:first-of-type {
				margin-bottom: 20px;
			}
		}

		.form-col {
			margin-top: 50px;

			p {
				font-size: 14px;
				line-height: 14px;
				color: #434C5C;
				margin-bottom: 18px;
			}
		}

		.wpcf7-form-control-wrap {
			display: block;
			margin-bottom: 18px;
		}

		input {
			width: 100%;
			height: 56px;
			border: none;
			-webkit-apperance: none;
			font-family: $font-heading;
			color: $primary;
			font-size: 20px;
			padding-left: 20px;
		}

		::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
		  color: #798DAD;
		}

		.your-cv, .your-support-letter {
			display: none;
		}

		.fileupload {
			font-size: 20px;
			margin-bottom: 18px;
			background: #042E71;

			&:hover {
				background: $secondary;
			}
		}

		.filename-container {
			display: none;
			font-size: 18px;
			line-height: 18px;
			color: #041A3E;
			margin-bottom: 25px;
			padding-bottom: 10px;
			border-bottom: 1px solid #DEE3EB;

			&:after {
				display: block;
				content:'';
				height: 15px;
				width: 15px;
				background: url('../library/images/tick.svg') center / contain no-repeat;
				margin-left: 10px;
			}

			&.active {
				display: flex;
				align-items: center;
			}
		}

		.wpcf7-submit {
			color: #FFF;
			max-width: 265px;
			-webkit-appearance: none;
		}

		.wpcf7-response-output {
			font-size: 16px;
			padding: 10px 0;
			text-align: center;
		}

		.career-applied-for {
			display: none;
		}

		&:first-of-type {
			margin-top: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-careers-accordion {
		.wrap {
			padding: 70px 0 50px 0;
		}

		.accordion-row {
			h3 {
				font-size: 36px;
				line-height: 44px;

				&:after {
					margin-top: 5px;
					margin-left: 30px;
					width: 30px;
					height: 15px;
					background: url('../library/images/down-chevron.svg') center / contain no-repeat;
				}
			}

			.btn-container {
				display: flex;

				.btn, .btn:first-of-type {
					margin: 0 18px 0 0;
				}

				.btn:last-of-type {
					margin: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-careers-accordion {
		.accordion-row {
			.flex-container {
				display: flex;
			}

			h4 {
				font-weight: 500;
				font-size: 36px;
				line-height: 40px;
				margin-bottom: 45px;

				br {
					display: block;
				}

				&:after {
					width: 40px;
					height: 3px;
					margin-top: 15px;
				}
			}

			.form-col {
				margin: 0 0 0 50px;
				max-width: 380px;
				flex-shrink: 0;

				.btn {
					padding-left: 20px;
				}
			}

			input {
				font-size: 24px;
				padding-left: 30px;
			}

			.fileupload {
				font-size: 24px;
			}
		}
	}
}
