.feature-equipment {
	padding: 95px 35px 80px 35px;

	.wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0;
		border-bottom: 10px solid $secondary;
	}

	h3 {
		position: relative;
		font-size: 25px;
		line-height: 28px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		color: #042E71;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background: $secondary;
		}
	}

	p {
		font-family: $font-heading;
		font-size: 25px;
		line-height: 28px;
		color: #042E71;
		font-weight: 300;
		margin-bottom: 40px;
	}

	.btn {
		display: inline-flex;
	}

	.image {
		padding: 0 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 320px;
		width: 100%;
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media only screen and (min-width: 1024px) {
	.feature-equipment {
		h3 {
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 18px;
			margin-bottom: 50px;

			&:after {
				width: 35px;
			}
		}

		p {
			font-size: 32px;
			line-height: 40px;
		}

		.image {
			background-size: contain;
		}
	}
}
