.feature-content-accordion {
	background: #ECF1F8;
	padding: 0 35px 0 35px;

	.wrap {
		position: relative;
		border-top: 10px solid $secondary;
		max-width: 1210px;
		padding: 35px 0 35px 0;
	}

	h2 {
		font-family: $font-heading;
		position: relative;
		font-size: 25px;
		line-height: 28px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		color: #042E71;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background: $secondary;
		}
	}

	.accordion-row {
		margin-top: 20px;
		position: relative;
		width: 100%;

		.accordion-title {
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 19px;
			line-height: 29px;
			color: #042E71;
			padding-bottom: 14px;
			border-bottom: 1px solid #C9D8F5;

			&:after {
				margin-top: 5px;
				content: '';
				margin-left: auto;
				width: 15px;
				height: 10px;
				display: block;
				background: url('../library/images/mobile-down-chevron.svg') center / contain no-repeat;
				transition: .5s all;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.inner-accordion {
			display: none;
			padding: 40px 0;

			a {
				color: #041A3E;
				font-weight: 700;
				border-bottom: 1px solid #041A3E;
				transition: all .32s;

				&:hover {
					color: #093886;
				}
			}
		}

		h4 {
			font-size: 26px;
			line-height: 30px;
			font-family: $font-heading;
			color: #042E71;
			margin-bottom: 30px;

			&:after {
				display: block;
				content: '';
				width: 26px;
				height: 3px;
				background: $secondary;
				border: none;
				margin-top: 15px;
			}
		}

		p:first-of-type {
			font-size: 22px;
		}

		.btn {
			margin-top: 65px;
			font-size: 18px;
		}

		.form-col {
			margin-top: 50px;

			p {
				font-size: 14px;
				line-height: 14px;
				color: #434C5C;
				margin-bottom: 18px;
			}
		}

		&:first-of-type {
			margin-top: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-content-accordion {
		.wrap {
			padding: 70px 0 50px 0;
		}

		.accordion-row {
			.accordion-title {
				font-size: 36px;
				line-height: 44px;

				&:after {
					margin-top: 5px;
					margin-left: 30px;
					width: 30px;
					height: 15px;
					background: url('../library/images/down-chevron.svg') center / contain no-repeat;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-content-accordion {
		h2 {
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 18px;
			margin-bottom: 40px;

			&:after {
				width: 35px;
			}
		}

		.accordion-row {
			.flex-container {
				display: flex;
			}

			h4 {
				font-weight: 500;
				font-size: 36px;
				line-height: 40px;
				margin-bottom: 45px;

				br {
					display: block;
				}

				&:after {
					width: 40px;
					height: 3px;
					margin-top: 15px;
				}
			}
		}
	}
}
