.feature-image-and-content {
	background: #ECF1F8;
	padding: 0 35px 0 35px;

	.wrap {
		position: relative;
		border-top: 10px solid $secondary;
		max-width: 1210px;
		padding: 50px 0 5px 0;
	}

	h2 {
		font-family: $font-heading;
		position: relative;
		font-size: 25px;
		line-height: 28px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		color: #042E71;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background: $secondary;
		}
	}

	h4 {
		font-family: $font-heading;
		position: relative;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 30px;
		color: #042E71;
		max-width: 720px;
		margin-bottom: 35px;
	}

	.content-row {
		margin-bottom: 50px;
	}

	img {
		display: none;
	}

	.content {
		width: 100%;

		img {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 30px;
		}

		h3 {
			position: relative;
			font-size: 25px;
			line-height: 28px;
			padding-bottom: 15px;
			margin-bottom: 30px;
			color: #042E71;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 25px;
				height: 3px;
				background: $secondary;
			}
		}

		ul {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 40px;

			li {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #C9D8F5;

				&:last-of-type {
					border: none;
					margin: 0;
					padding: 0;
				}
			}
		}

		.btn {
			margin-top: 35px;
			max-width: none;
			width: 100%;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-image-and-content {
		.wrap {
			padding: 100px 0 20px 0;
		}

		.content-row {
			margin-bottom: 100px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-image-and-content {
		h2 {
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 18px;
			margin-bottom: 60px;

			&:after {
				width: 35px;
			}
		}

		h4 {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 35px;
		}

		.content-row {
			display: flex;
			align-items: flex-start;
		}

		img {
			display: block;
			max-width: 750px;
			height: auto;
			width: 100%;
			margin-right: 65px;
		}

		.content {
			display: flex;
			flex-direction: column;
			max-width: 400px;
			width: 100%;

			img {
				display: none;
			}

			h3 {
				font-size: 36px;
				line-height: 40px;
				padding-bottom: 18px;
				margin-bottom: 50px;

				&:after {
					width: 35px;
				}
			}

			ul {
				font-size: 18px;
				line-height: 18px;
			}

			.btn {
				margin-top: 40px;
			}
		}
	}
}
