.feature-pull-out-quote {
	background: #ECF1F8;
	padding: 0 35px;

	.wrap {
		position: relative;
		padding: 50px 0 80px 0;
		border-top: 10px solid $secondary;


		&:after {
			content: '';
			position: absolute;
			width: 100%;
			bottom: 40px;
			left: 0;
			height: 10px;
			background: $secondary;
		}
	}

	p {
		font-size: 36px;
		line-height: 40px;
		font-family: $font-heading;
		color: #798DAD;
		margin-bottom: 40px;


		br {
			display: none;
		}

		a {
			transition: .5s all;
			color: $secondary;
			font-weight: bold;
			word-wrap: break-word;

			&:hover {
				color: $primary;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-pull-out-quote {
		.wrap {
			padding-bottom: 130px;

			&:after {
				bottom: 75px;
			}
		}
		p {
			font-size: 46px;
			line-height: 50px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-pull-out-quote {
		p {
			font-size: 46px;
			line-height: 46px;
		}
	}
}

.page-id-24 {
	.feature-pull-out-quote {
		.wrap {
			border-top: none;

			&:after {
				display: none;
			}
		}
	}
}
