.feature-accordion {
	background: #ECF1F8;
	padding: 0 35px 0 35px;

	.wrap {
		position: relative;
		border-top: 10px solid $secondary;
		max-width: 1210px;
		padding: 35px 0 35px 0;
	}

	.accordion-row {
		margin-top: 20px;
		position: relative;
		border-bottom: 1px solid #C9D8F5;

		h3 {
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 19px;
			line-height: 29px;
			color: #042E71;
			margin-bottom: 12px;
			letter-spacing: -0.2px;

			&:after {
				margin-top: 5px;
				content: '';
				margin-left: auto;
				width: 15px;
				height: 10px;
				display: block;
				background: url('../library/images/mobile-down-chevron.svg') center / contain no-repeat;
				transition: .5s all;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.inner-accordion-row {
			display: flex;
			font-size: 12px;
			line-height: 14px;
			border-bottom: 1px solid #C9D8F5;
			padding: 12px 0;

			&:first-of-type {
				font-weight: bold;
				font-family: $font-heading;
				color: #042E71;
				border: none;
				padding-bottom: 10px;
				font-size: 14px;
				line-height: 14px;
				padding-top: 0;
				align-items: flex-end;
			}

			&:last-of-type {
				border: none;
			}
		}

		.column {
			margin-right: 20px;
			width: 100%;
			max-width: 80px;
			text-align: right;

			&:first-of-type {
				margin-right: auto;
				width: 100%;
				max-width: 100px;
				text-align: left;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}

		p {
			max-width: 400px;
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: $secondary;
			width: 35px;
			height: 3px;
		}
	}

	.inner-accordion {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.feature-accordion {
		.wrap {
			padding: 70px 0 50px 0;
		}

		.accordion-row {
			h3 {
				font-size: 36px;
				line-height: 44px;

				&:after {
					margin-top: 5px;
					margin-left: 30px;
					width: 30px;
					height: 15px;
					background: url('../library/images/down-chevron.svg') center / contain no-repeat;
				}
			}

			.inner-accordion-row {
				font-size: 18px;
				line-height: 28px;
				padding: 20px 0;

				&:first-of-type {
					font-weight: 400;
					font-size: 24px;
					line-height: 24px;
				}
			}

			.column {
				flex: 1;
				max-width: none;

				&:first-of-type {
					max-width: none;
					flex: 2;
				}
			}
		}
	}
}
@media only screen and (min-width: 1024px) {
	.feature-accordion {
		.accordion-row {
			.column {
				text-align: left;
			}

			p {
				max-width: 400px;
			}
		}
	}
}
