.feature-contact-form {
	padding: 0px 35px 0 35px;
	background: #ECF1F8;

	.wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 60px 0 80px 0;
		max-width: 1210px;
		border-top: 10px solid $secondary;
	}

	h3 {
		position: relative;
		font-family: $font-heading;
		font-size: 36px;
		line-height: 40px;
		color: $primary;
		padding-bottom: 50px;
		margin-bottom: 35px;

		br {
			display: none;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background: $secondary;
		}
	}

	.content {
		margin-bottom: 60px;
	}

	.wpcf7 {
		width: 100%;

		.wpcf7-form-control-wrap {
			display: block;
			margin-bottom: 20px;
		}

		input, textarea {
			font-family: $font-heading;
			border: none;
			-webkit-appearance: none;
			height: 55px;
			width: 100%;
			padding-left: 25px;
			font-size: 20px;
			line-height: 24px;
			color: $primary;
		}

		textarea {
			padding: 18px 0 0 25px;
			resize: none;
		}

		.btn {
			padding: 0;
			color: #FFF;
			max-width: 110px;
			-webkit-appearance: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-contact-form {

	}
}

@media only screen and (min-width: 1024px) {
	.feature-contact-form {
		h3 {
			margin-bottom: 70px;

			br {
				display: block;
			}
		}

		.columns {
			display: flex;
		}

		.content {
			max-width: 400px;
			margin-right: auto;
		}

	.wpcf7 {
		max-width: 600px;

			input, textarea {
				font-family: $font-heading;
				border: none;
				-webkit-appearance: none;
				height: 55px;
				width: 100%;
				padding-left: 25px;
				font-size: 24px;
				line-height: 40px;
				color: $primary;
			}

			textarea {
				padding-top: 12px;
			}
		}
	}
}


