.feature-columns {
	background: #ECF1F8;
	padding: 0 35px;

	.wrap {
		padding: 60px 0 20px 0;
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 10px;
			background: $secondary;
		}
	}

	h2 {
		font-size: 36px;
		line-height: 40px;
		font-weight: 300;
		font-family: $font-heading;
		color: #798DAD;
		margin-bottom: 35px;
		letter-spacing: -0.6px;

		br {
			display: none;
		}
	}

	.column {
		width: 100%;
		margin-bottom: 70px;

		h3 {
			position: relative;
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 14px;
			margin-bottom: 35px;
			color: #042E71;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 25px;
				height: 3px;
				background: $secondary;
			}
		}

		p {
			font-size: 16px;
			line-height: 20px;
		}

		a {
			font-weight: 900;
			color: $secondary;
			text-decoration: underline;
			transition: .5s all;

			&:hover {
				color: $primary;
			}
		}
	}

	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 30px 0 60px 0;
	}

	&.feature-flexible-three-columns {
		h2 {
			font-weight: 400;
			margin-bottom: 50px;
		}

		h2, h3 {
			font-weight: 300;
			position: relative;
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 14px;
			margin-bottom: 35px;
			color: #042E71;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 25px;
				height: 3px;
				background: $secondary;
			}
		}

		h3 {
			span {
				display: block;
				color: #798DAD;
				font-size: 24px;
				font-weight: 300;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-columns {
		.columns {
			display: flex;
			flex-wrap: wrap;
		}

		.column {
			width: calc(33.3333% - 14px);
			margin-right: 20px;
			margin-bottom: 40px;

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-columns {
		h2 {
			font-size: 46px;
			line-height: 46px;
			margin-bottom: 50px;

			br {
				display: block;
			}
		}

		.column {
			h3 {
				padding-bottom: 14px;
				margin-bottom: 50px;

				&:after {
					width: 40px;
				}
			}

			p {
				font-size: 18px;
				line-height: 28px;
			}
		}

		&.feature-flexible-three-columns {
			h2, h3 {
				font-size: 36px;
				line-height: 40px;
				padding-bottom: 14px;
				margin-bottom: 50px;

				&:after {
					width: 35px;
					height: 3px;
				}
			}
		}
	}
}

