.feature-image-gallery {
	padding: 0px 35px 0 35px;
	background: #ECF1F8;

	.wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 60px 0 80px 0;
		max-width: 1210px;
		border-top: 10px solid $secondary;
	}

	h3 {
		font-family: $font-heading;
		position: relative;
		font-size: 25px;
		line-height: 28px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		color: #042E71;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background: $secondary;
		}
	}

	.main-images {
		margin-bottom: 25px;

		.image {
			height: 200px;
			width: 100%;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.image-gallery-carousel {
		position: relative;
		padding: 0 30px;

		.slick-list {
			margin: 0 -10px;
		}

		.item {
			cursor: pointer;
			height: 50px;
			margin: 0 10px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.slick-arrow {
			cursor: pointer;
			position: absolute;
			height: 20px;
			width: 20px;
			top: calc(50% - 10px);
			border-radius: 50%;
			font-size: 0;
			-webkit-appearance: none;
			border: 1px solid rgba(4, 46, 113, 0.4);
			background: url('../library/images/chevron-right.svg') center / 8px no-repeat;

			&.slick-prev {
				left: 0px;
				transform: scale(-1);
			}

			&.slick-next {
				right: 0px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.feature-image-gallery {
		.main-images {
			margin-bottom: 35px;

			.image {
				height: 400px;
			}
		}

		.image-gallery-carousel {
			padding: 0 100px;

			.slick-list {
				margin: 0 -16px;
			}

			.item {
				height: 87px;
				margin: 0 16px;
			}

			.slick-arrow {
				height: 46px;
				width: 46px;
				top: calc(50% - 23px);
				background: url('../library/images/chevron-right.svg') center / 15px no-repeat;

				&.slick-prev {
					left: 10px;
				}

				&.slick-next {
					right: 10px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feature-image-gallery {
		h3 {
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 18px;
			margin-bottom: 40px;

			&:after {
				width: 35px;
			}
		}

		.main-images {
			.image {
				height: 500px;
				width: 100%;
			}
		}
	}
}


