.admissions {
	position: relative;
	padding: 53px 0 45px 0;
	height: 295px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #060D19;
		opacity: 0.5;
	}

	.wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		z-index: 2;
	}

	h3 {
		position: relative;
		font-weight: bold;
		color: #FFF;
		font-family: $font-heading;
		font-size: 35px;
		line-height: 36px;
		margin-bottom: 35px;
		padding-right: 30px;
		padding-top: 32px;

		hr {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: none;
			height: 4px;
			margin: 0;
			top: 0;
			left: 0;
			background: #FFF;
			width: 100%;
		}
	}

	.btn {
		height: 50px;
		font-size: 29px;
		font-weight: bold;
		padding: 0 20px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) {
	.admissions {
		padding: 0 0 75px 0;
		height: 340px;

		.wrap {
			align-items: flex-end;
			justify-content: flex-end;
		}

		h3 {
			font-size: 50px;
			line-height: 50px;
			padding: 0;
			padding-bottom: 25px;
			margin: 0 0 25px 0;

			hr {
				height: 8px;
				top: auto;
				bottom: 0;
			}
		}


		.btn {
			margin: 0;
			padding: 0 25px;
		}
	}
}
