.general-video-block {
	width: 100%;

	.video-module {
		position: relative;
		overflow: hidden;

		&:after {
			pointer-events: none;
			content: '';
			position: absolute;
			top: calc(50% - 11px);
			left: calc(50% - 11px);
			height: 22px;
			width: 22px;
			background: url('../library/images/play-icon.svg') center / contain no-repeat;
			z-index: 5;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
			transition: .5s all;
		}

		&:hover {
			a {
				transform: scale(1.05);
			}
		}
	}

	.video-image {
		position: relative;
		width: 100%;
		height: 170px;
		overflow: hidden;
		margin-bottom: 11px;
	}

	.video-thumbnails {
		display: flex;
		margin-bottom: 10px;

		.thumbnail {
			height: 55px;
			width: calc(33.3333% - 7px);
			margin-right: 11px;

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.general-video-block {
		.video-module {
			&:after {
				top: calc(50% - 44px);
				left: calc(50% - 48px);
				height: 88px;
				width: 96px;
				background: url('../library/images/play-icon.svg') center / contain no-repeat;
			}
		}

		.video-image {
			height: 350px;
			margin-bottom: 30px;
		}

		&.no-thumbnails {
			margin-bottom: 50px;
		}

		.video-thumbnails {
			margin-bottom: 50px;

			.thumbnail {
				height: 120px;
				width: calc(33.3333% - 21px);
				margin-right: 32px;

				&:after {
					top: calc(50% - 25px);
					left: calc(50% - 25px);
					height: 50px;
					width: 50px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.general-video-block {
		.video-image {
			height: 510px;
		}


		&.no-thumbnails {
			margin-bottom: 50px;
		}

		.video-thumbnails {
			.thumbnail {
				height: 160px;
			}
		}
	}
}
