.social-strip {
	padding: 50px 0 70px 0;
	color: #DEE3EB;
	background-size: cover;
	background-position: center;

	.content {
		max-width: 945px;
		margin-left: auto;
		border-top: 8px solid #FFF;
		padding-top: 40px;
		font-family: $font-heading;
	}

	a {
		font-weight: bold;
		color: $secondary;
		transition: .5s all;

		&:hover {
			color: $primary;
		}
	}


	h4 {
		font-size: 26px;
		line-height: 30px;
		font-weight: 500;
		letter-spacing: -0.6px;

		br {
			display: none;
		}

		strong {
			font-weight: 500;
			display: block;
		}
	}
}

@media only screen and (min-width: 768px) {
	.social-strip {
		padding: 60px 0 100px 0;

		.content {
			padding-top: 70px;
		}
		h4 {
			font-size: 46px;
			line-height: 52px;
			letter-spacing: 0px;

			strong {
				display: block;
				font-weight: bold;
			}
		}
	}
}
