.video-masthead {
	height: 375px;

	a {
		position: relative;
		display: block;
		height: 100%;
		width: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 85px;
			right: 35px;
			height: 88px;
			width: 96px;
			background: url('../library/images/play-icon.svg') center / contain no-repeat;
			z-index: 5;
		}
	}

	.wrap {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		height: 100%;
		padding-top: 85px;
		color: #FFF;
	}

	p {
		position: relative;
		font-family: $font-heading;
		font-size: 49px;
		line-height: 49px;
		font-weight: 300;
		padding-bottom: 35px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background: #FFF;
		}
	}
}

@media only screen and (min-width: 768px) {
	.video-masthead {
		height: 845px;

		a {
			&:after {
				top: calc(50% - 44px);
				left: calc(50% - 48px);
				right: auto;
			}
		}

		.wrap {
			justify-content: flex-end;
			padding-bottom: 85px;
		}

		p {
			font-family: $font-heading;
			font-size: 90px;
			line-height: 90px;
			font-weight: 300;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.video-masthead {
		a {
			&:after {
				top: calc(50% - 44px);
				left: calc(50% - 48px);
				right: auto;
			}
		}

		.wrap {
			justify-content: flex-end;
			align-items: flex-start;
			padding-top: 0;
			padding-bottom: 85px;
		}

		p {
			font-family: $font-heading;
			font-size: 108px;
			line-height: 108px;
			font-weight: 300;
			padding: 0;

			&:after {
				display: none;
			}
		}
	}
}
