.calendar {
	padding: 25px 0 37px 0;
	background-size: 0px;
	background-position: center;
	background-color: #19335D;
	background-blend-mode: multiply;
	color: #FFF;

	.wrap {
		max-width: 1070px;
	}

	h2 {
		font-size: 30px;
		line-height: 35px;
		font-family: $font-heading;
		color: #8AA6D0;
		margin-bottom: 25px;

		span {
			display: none;
		}

		hr {
			margin: 15px 0 0 5px;
			background: #5CC78E;
			border: 0;
			height: 3px;
			width: 40px;
		}
	}

	.upcoming-event {
		padding-bottom: 32px;
		margin-bottom: 28px;
		border-bottom: 4px solid #344F79;

		.event-head {
			margin-bottom: 30px;

			.left-col {
				flex-shrink: 0;
				margin-bottom: 25px;

				h4 {
					font-weight: bold;
					font-family: $font-heading;
					font-size: 17px;
					line-height: 20px;
				}

				p {
					font-size: 17px;
					font-family: $font-heading;
					color: $secondary;
				}
			}

			h3 {
				font-weight: bold;
				font-size: 36px;
				line-height: 38px;
			}
		}

		p {
			font-size: 16px;
			line-height: 20px;
		}
	}

	.calendar-carousel {
		.month-block {
			outline: 0;
		}

		.title-container {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: center;
			margin-bottom: 30px;

			img {
				cursor: pointer;
				height: 26px;
				width: 14px;
			}
		}

		h3 {
			font-size: 29px;
			font-weight: bold;
			color: #8C9BB9;
			flex-shrink: 0;
			text-align: center;
			margin: 0 auto;
		}

		h4 {
			font-family: $font-heading;
			color: $secondary;
			padding-bottom: 10px;
			border-bottom: 1px solid #344F79;
		}

		.event {
			color: #C9D8F5;
			display: flex;
			align-items: center;
			font-size: 18px;
			line-height: 28px;
			border-bottom: 1px solid #344F79;
			padding: 10px 0;

			p {
				font-size: 14px;
				font-weight: 300;
				margin: 0;
			}

			.event-title {
				width: 50%;
				flex: 1;

				p {
					line-height: 16px;
					line-height: 19px;
					font-weight: bold;
				}

				p:nth-of-type(2) {
					font-size: 14px;
					line-height: 20px;
					font-weight: 300;
				}
			}

			.location {
				display: none;
			}

			.timing {
				margin-top: auto;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.calendar {
		padding: 95px 0 100px 0;
		background-size: cover;

		h2 {
			font-size: 36px;
			font-size: 40px;
			color: #8C9BB9;
			margin-bottom: 45px;

			span {
				display: inline;
			}
		}

		.upcoming-event {
			border: none;
			padding-bottom: 0;
			margin-bottom: 50px;

			.event-head {
				display: flex;

				.left-col {
					flex-shrink: 0;
					margin-bottom: 0;
					margin-right: 60px;

					h4 {
						font-size: 20px;
						line-height: 24px;
						margin-bottom: 7px;
					}

					p {
						font-size: 20px;
					}
				}

				h3 {
					margin-top: -10px;
					font-size: 48px;
					line-height: 57px;
				}
			}
		}

		.calendar-carousel {
			.month-block {
				border-bottom: 4px solid #344F79;
				padding-bottom: 15px;
			}

			.title-container {
				&:after {
					content: '';
					width: 100%;
					height: 4px;
					background: #344F79;
					margin-left: 25px;
				}
			}

			h3 {
				width: 250px;
			}

			.event {
				p {
					font-size: 18px;
					line-height: 28px;
					font-weight: 400;
				}

				.event-title {
					width: 50%;
					flex: 1;

					p {
						line-height: 18px;
						line-height: 19px;
						font-weight: 400;
					}

					p:nth-of-type(2) {
						display: none;
					}
				}

				.location {
					flex: 1;
					display: block;
				}

				.timing {
					margin: 0;
				}

				&:last-of-type {
					border: none;
				}
			}
		}
	}
}
