.twitter-feed {
	background: $primary;
	background-color: #19335D;
	padding: 60px 0;

	h3 {
		font-weight: 500;
		font-size: 20px;
		color: $secondary;
		font-family: $serif;
		padding-bottom: 10px;
		border-bottom: rgba(121, 141, 173, 0.6) 3px solid;
		margin-bottom: 40px;
	}

	.tweets {
		color: #FFF;
		display: flex;

		.tweet {
			margin-bottom: 50px;
			width: calc(33.33333% - 20px);
			margin-right: 30px;

			h4 {
				color: #798DAD;
			}

			a {
				transition: .5s all;
				&:hover {
					color: $secondary;
				}
			}

			p {
				color: #FFF;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
