.navigation-modules {
	.module {
		height: 125px;
		position: relative;
		width: 100%;
		color: #FFF;
		overflow: hidden;
		transition: .5s all;

		.inner-image {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: .5s all;
		}

		a {
			position: relative;
			height: 100%;
			width: 100%;
			display: block;
			padding: 22px 0 0 35px;

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: linear-gradient(to bottom,  rgba(6,13,25,1) 20%,rgba(6,13,25,0) 90%);
				opacity: 0.5;
				content: '';
				pointer-events: none;
			}
		}

		h4 {
			position: relative;
			z-index: 2;
			font-size: 24px;
			font-family: $font-heading;
			line-height: 36px;
			padding-bottom: 10px;
			max-width: 185px;

			&:after {
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				height: 3px;
				border: none;
				background: $secondary;
				width: 33px;
			}
		}
	}
}

@media only screen and (min-width: 500px) {
	.navigation-modules {
		.module {
			height: 200px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.navigation-modules {
		display: flex;

		.module {
			height: 250px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.navigation-modules {
		display: flex;

		.module {
			height: 380px;

			a {
				padding: 35px 0 0 40px;

				&:after {
					background: linear-gradient(to bottom,  rgba(6,13,25,1) 0%,rgba(6,13,25,0) 100%);
				}
			}

			h4 {
				position: relative;
				z-index: 2;
				font-size: 30px;
				font-family: $font-heading;
				line-height: 36px;
				padding-bottom: 18px;
			}

			&:hover {
				.inner-image {
					transform: scale(1.05);
				}
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.navigation-modules {
		.module {
			&:first-of-type {
				a {
					padding-left: calc((100vw - 1210px) / 2);
				}
			}
		}
	}
}

@media only screen and (min-width: 1600px) {
	.navigation-modules {
		.module {
			&:first-of-type {
				a {
					padding-left: calc((100vw - 1410px) / 2);
				}
			}
		}
	}
}
