.internal-masthead {
	height: 185px;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.internal-masthead {
		height: 400px;
	}
}

@media only screen and (min-width: 1700px) {
	.internal-masthead {
		height: 450px;
	}
}
