.newsletter-block {
	padding: 50px 0 55px 0;
	color: #FFF;

	.content {
		max-width: 900px;
		margin-left: auto;
		border-top: 8px solid #FFF;
		padding-top: 29px;
		font-family: $font-heading;
	}

	a {
		font-weight: bold;
		color: $secondary;
		transition: .5s all;

		&:hover {
			color: $primary;
		}
	}

	.wpcf7-form {
		position: relative;
	}

	::placeholder {
 		color: #8C99AE;
 		font-style: italic;
	}

	.your-email {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 20px;
	}

	input {
		color: #434C5C;
		height: 50px;
		width: 100%;
		-webkit-appearance: none;
		border: none;
		border-radius: 2px;
		font-family: $font-default;
		font-size: 18px;
		outline: 0;

		&[type="email"] {
			text-align: center;
			border: 2px solid #D6D8DD;

			&.wpcf7-not-valid {
				border-color: red;
			}
		}

		&[type="submit"] {
			padding: 0;

			width: 100%;
			background: #BF893D;
			font-weight: bold;
			font-family: $font-heading;
			color: #FFF;
			margin-right: 20px;
			text-align: center;
			font-size: 29px;

			&:hover {
				background: $secondary;
			}
		}
	}

	.wpcf7-response-output {
		font-family: $font-default;
		font-size: 14px;
		line-height: 14px;
		position: absolute;
		bottom: -50px;
		left: 0;
		background: #FFF;
		color: #434C5C;
		text-align: center;
	}

	.wpcf7-not-valid-tip {
		position: absolute;
		top: -25px;
		left: 0;
		font-size: 12px;
		color: #FFF;
	}

	&.newsletter-block-two {
		.content {
			max-width: 900px;
		}

		h4 {
			font-size: 26px;
			line-height: 30px;
			font-weight: 300;
			margin-bottom: 38px;

			strong {
				display: block;
			}
		}
	}

	&.newsletter-block-one {
		background-size: cover;
		background-position: center;

		.content {
			max-width: 667px;
		}

		h4 {
			font-size: 35px;
			line-height: 36px;
			font-weight: 400;
			margin-bottom: 38px;
			letter-spacing: -0.1px;

			strong {
				font-weight: 900;
				display: block;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.newsletter-block {
		.wpcf7-form {
			display: flex;
		}

		.your-email {
			max-width: 475px;
			margin-right: 20px;
			margin-bottom: 0;
		}

		input {
			&[type="submit"] {
				max-width: 175px;
			}
		}

		.wpcf7-response-output {
			font-size: 14px;
			bottom: -60px;
		}

		&.newsletter-block-two {
			.content {
				max-width: 900px;
			}

			h4 {
				font-size: 30px;
				line-height: 38px;
			}
		}

		&.newsletter-block-one {
			h4 {
				font-size: 50px;
				line-height: 50px;
			}
		}
	}
}
