.homepage-masthead {
	height: 600px;
	position: relative;
	color: #FFF;
	margin-bottom: 25px;

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
	}

	.wrap {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		height: 100%;
		padding-top: 40px;
	}

	h1 {
		font-size: 49px;
		line-height: 40px;
		font-weight: 300;
		font-family: $font-heading;
	}

	hr {
		border: none;
		width: 195px;
		height: 4px;
		background: #FFF;
		margin: 30px 0 auto 0;
	}

	.modules {
		position: relative;
		margin-bottom: -25px;

		.module {
			position: relative;
			width: 100%;
			margin-bottom: 15px;
			overflow: hidden;

			a {
				position: relative;
				z-index: 2;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: flex-end;
			}

			.inner-image {
				display: none;
			}

			.content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 45px;
				width: 100%;
				padding: 0 30px 0 10px;
				border-radius: 2px;
				background: rgba(4, 46, 113, 0.5);
			}

			h3 {
				font-size: 20px;
				line-height: 24px;
				letter-spacing: -0.2px;
				font-family: $font-heading;
				margin-bottom: 3px;
			}

			hr {
				border: none;
				width: 24px;
				height: 3px;
				margin: 0;
				background: #0076FF;
			}

			&:nth-of-type(2) {
				.content {
					background: rgba(6, 226, 108, 0.5);
				}

				hr {
					background: #5CC78E;
				}
			}

			&:last-of-type {
				margin-bottom: 0;

				.content {
					background: rgba(191, 83, 26, 0.5);
				}

				hr {
					background: #D6B466;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.homepage-masthead {
		height: 750px;
		margin-bottom: 100px;

		.wrap {
			padding-top: 0;
		}

		h1 {
			margin: auto 0;
			font-size: 80px;
			line-height: 70px;
		}

		hr {
			display: none;
		}

		.modules {
			position: relative;
			display: flex;
			margin-bottom: -100px;

			.module {
				width: calc(33.3333% - 12px);
				margin-right: 18px;
				margin-bottom: 0;
				height: 200px;

				.inner-image {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					transition: .5s all;
				}

				.content {
					height: 95px;
					width: 100%;
					padding: 0 30px 0 18px;
				}

				h3 {
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 10px;
				}

				hr {
					display: block;
					width: 32px;
					height: 3px;
				}

				&:nth-of-type(2) {
				}

				&:last-of-type {
					margin-right: 0;
				}

				&:hover {
					.inner-image {
						transform: scale(1.05);
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.homepage-masthead {
		margin-bottom: 150px;

		h1 {
			font-size: 108px;
			line-height: 90px;
		}

		.modules {
			margin-bottom: -150px;

			.module {
				width: calc(33.3333% - 12px);
				height: 300px;

				h3 {
					font-size: 30px;
					line-height: 35px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.homepage-masthead {
		.modules {
			padding: 0 100px;

			&:before, &:after {
				position: absolute;
				content: '';
				top: 33px;
				height: 4px;
				background: #FFF;
				width: 80px;
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
		}
	}
}
