.news-feed {
	padding: 0 30px;
	background: #ECF1F8;

	.wrap {
		position: relative;
		padding: 55px 0 30px 0;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 10px;
			background: $secondary;
		}
	}
}

@media only screen and (min-width: 768px) {
	.news-feed {
		.wrap {
			padding: 55px 0 50px 0;
		}
	}
}
