.homepage-introduction {
	padding: 65px 0;

	h2 {
		font-family: $font-heading;
		font-size: 26px;
		line-height: 30px;
		color: $primary;
		letter-spacing: -0.2px;
		margin-bottom: 40px;

		br {
			display: none;
		}

		strong {
			&:first-of-type {
				display: block;
			}
		}
	}

	p {
		font-size: 16px;
		line-height: 20px;
		color: #434C5C;
	}
}

@media only screen and (min-width: 768px) {
	.homepage-introduction {
		padding: 110px 0 65px 0;

		h2 {
			font-size: 40px;
			line-height: 46px;
			margin-bottom: 50px;
		}

		p {
			font-size: 20px;
			line-height: 28px;
			color: #1C355D;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.homepage-introduction {
		text-align: center;

		.wrap {
			max-width: 845px;
		}

		h2 {
			font-size: 52px;
			line-height: 56px;
		}
	}
}
