.password-form {
  margin: 0 auto;
  text-align: center;

  input {
    height: 50px;
    max-width: 495px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #D3D3D3;
    -webkit-appearance: none;
    text-align: center;
    font-size: 20px;
    font-style: italic;
  }

  button {
    min-height: 50px;
    width: 185px;
    border: none;
    -webkit-appearance: none;
  }
}
