.standalone-ofsted-view {
	.content {
		border-top: 4px $secondary solid;
		width: 100%;
		padding: 25px 0 35px 0;

		h1 {
			width: 100%;
			font-size: 12px;
			line-height: 18px;
			text-align: right;
			border-bottom: 1px solid $secondary;
			padding-bottom: 5px;
			margin-bottom: 45px;

			&:after {
				display: none;
			}
		}

		p {
			font-size: 16px;
			line-height: 20px;
		}
	}

	.left-content {
		a {
			color: $secondary;
			text-decoration: underline;
		}
	}

	.login {
		width: 100%;
		margin: 0 auto;

		p {
			text-align: center;
			margin-bottom: 40px;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;

			input {
				height: 50px;
				max-width: 495px;
				width: 100%;
				margin-bottom: 20px;
				border-radius: 6px;
				border: 1px solid #D3D3D3;
				-webkit-appearance: none;
				text-align: center;
				font-size: 20px;
				font-style: italic;
				font-family: $font-default;

				&:focus {
					border-color: #BF893D;
				}
			}

			button {
				min-height: 50px;
				width: 185px;
				border: none;
				-webkit-appearance: none;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.standalone-ofsted-view {
		.content {
			padding: 110px 0 110px 0;
			border: none;

			h1 {
				font-size: 26px;
				line-height: 30px;
				text-align: left;
				border: none;
				margin-bottom: 0;

				&:after {
					display: block;
				}
			}
		}

		.left-content {
			margin-top: 55px;
			max-width: 400px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.standalone-ofsted-view {
		&.border-top {
			.content {
				&:before {
					max-width: 910px;
					left: auto;
					right: 0;
				}

				p {
					font-size: 18px;
					line-height: 28px;
				}
			}
		}

		.content {
			h1 {
				font-size: 36px;
				line-height: 40px;
			}
		}
	}
}

.link-grid {
	padding: 0 35px;
	background: #ECF1F8;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		padding: 60px 0 75px 0;
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 10px;
			background: $secondary;
		}
	}

	.link {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;

		h3 {
			font-size: 23px;
			line-height: 28px;
			position: relative;
			padding-bottom: 15px;
			color: #042E71;
			margin-bottom: 20px;

			br {
				display: none;
			}

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 25px;
				background: $secondary;
				height: 3px;
				content: '';
			}
		}

		.image {
			width: 100%;
			max-width: 145px;
			min-height: 110px;
			margin-right: 15px;
		}

		.link-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: stretch;

			h3 {
				display: none;
			}
		}

		.btn {
			width: 100%;
			min-height: 50px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.link-grid {
		.link {
			flex-direction: column;
			width: calc(50% - 35px);
			margin-right: 70px;
			margin-bottom: 50px;

			h3 {
				padding-bottom: 25px;

				&:after {
					width: 35px;
					height: 3px;
				}
			}

			.image {
				max-width: none;
				min-height: 205px;
				margin-right: 0;
			}

			.btn {
				flex: 0;
				width: auto;
				margin-top: 15px;
				margin-left: auto;
			}

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.link-grid {
		.wrap {
			padding: 115px 0 50px 0;
		}

		.link {
			flex-direction: row;
			flex-wrap: nowrap;
			width: calc(50% - 35px);
			margin-right: 70px;
			margin-bottom: 50px;

			h3 {
				display: none;
			}

			.image {
				max-width: 290px;
				margin-right: 20px;
			}

			.link-content {
				align-items: flex-start;

				h3 {
					display: block;
				}
			}

			h3 {
				margin-bottom: auto;

				br {
					display: block;
				}
			}

			.btn {
				margin: 15px 0 0 0;
			}

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.link-grid {
		.link {
			h3 {
				font-size: 36px;
				line-height: 40px;
			}
		}
	}
}

